a {
     color: #000000;
     text-decoration: none;
}
body, html {
     font-family: Georgia, "Minion Pro", Minion, "Minion Web", "Palatino Linotype", Palatino, "Book Antiqua", Garamond, Century, "Bitstream Vera Serif", serif;
     line-height: 1.5;
}
body {
     padding: 0;
}
blockquote {
     font-style: italic
}
blockquote em {
     font-style: normal
}
blockquote, li {
     margin: 0 3em 0 3em
}
h1 {
     font-size: 2em;
     margin: 1em 0 .5em 0;
}
h2 {
     font-size: 1.5em;
     margin: 1em 0 .5em 0;     
}
p {
     margin: 0 0 1.5em 0;
     padding: 0;
}
ul {
     margin: 0 0 1.5em 0;
     padding: 0;
}
.footer, .generer, .gjem, .metrissitat {
     display: none
}
.kantlinje {
     border: .5pt solid #000000
}
.venstre {
     float: left;
     margin: .5em .9em 0 0;
}